.humanise-tabs {
	margin-bottom: $webpart-margin-bottom;

	&__wrapper {
		border-bottom: 1px solid $grey-light;

		@media (max-width: $screen-md) {
			display: none;
		}
	}

	&__tab-select {
		display: flex;
		justify-content: center;
		padding-bottom: 13px;
		text-align: center;

		li {
			// width: 25%;
			width: 275px;
			color: $grey-mid;
			cursor: pointer;
			margin: 0;
			list-style-type: none;
			@include border_box;

			&:hover, &:active, &:focus {
				border: none;
				outline: none;
			}

		}

		li[aria-selected='true'] {
			color: $grey-heavy;
		}
	}

	&__nav-wrapper {

		&--nav {
			height: 4px;
			// width: 19%;
			width: 200px;
			margin: 0 3%;
			background-color: $skoda-green;
			position: relative;
			@include transition(1s ease-in-out);
		}
	}

	
	&__tab-content {
		clear: both;
		display: block;
		&[aria-hidden='true'] {
			display: block;
		}

		@media (min-width: $screen-md) {
			&[aria-hidden='true'] {
				display: none;
			}
		}
	}
}

.mobile-tabs {

	.humanise-tabs__wrapper {
		display: block;
	}
	[aria-hidden='true'] {
		display: none;
	}
}
