.humanise-tabs {
	margin-bottom: $webpart-margin-bottom;

	&__tab-select {

		border-bottom: 1px solid $grey-light;
		padding-bottom: 13px;
		text-align: center;
		margin-bottom: ($webpart-margin-bottom / 2);

		&--nav {
			height: 4px;
			width: 16%;
			margin: 0 4%;
			background-color: $skoda-green;
			position: relative;
			top: 30px;
			@include transition(1s ease-in-out);
		}

		li {
			width: 24.5%;
			display: inline-block;
			color: $grey-dark;
			text-transform: uppercase;
			font-size: 0.65em;
			cursor: pointer;
			letter-spacing: 0.28em;
			margin: 0;
			list-style-type: none;
			@include border_box;
			font-family: $skoda-next;

			&:hover, &:active, &:focus {
				border: none;
				outline: none;
			}

		}

		li[aria-selected='true'] {
			color: $grey-heavy;
		}
	}

	&__tab-content {
		clear: both;

		&[aria-hidden='true'] {
			display: none;
		}
	}
}