.humanise-parallax {
	text-align: center;

	&__item {
		text-align: right;
		width: 49.8%;
		font-size: 7em !important;
		font-family: $skoda-next-bold;
		color: $skoda-grey-light;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		position: relative;
		margin: 0 !important;
		display: inline-block;
		line-height: 0 !important;
		opacity: 0.5;
		z-index: 89;
		pointer-events: none;

		&:nth-of-type(2) {
			text-align: left;
		}
	}
}