pre {
  background-color: $grey-heavy;
  padding: 10px;
  color: white;
  font-family: monospace;
  margin: 20px 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.pattern-library-hover {
  width: 10px;
  height: 50%;
  top: 25%;
  position: fixed;
  z-index: 1000;
}

.pattern-library-body {
  width: calc(100% - 200px);
  float: right;
  @include transition(1s ease-in-out);

  &.hide-nav {
    width: 100%;
  }
}

.github-link {
  -webkit-mask-image: url('/dist/img/icon-code.svg');
  mask-image: url('/dist/img/icon-code.svg');
  background-color: white;
  width: 22.5px;
  height: 10px;
  background-size: 22.5px;
  display: inline-block;
  position: relative;
}

.pattern-library-header {
  background-color: $grey-heavy;
  margin-bottom: 80px;


  &__title {
    padding: 80px 0 0;
    margin-bottom: 0;
    
    @media (min-width: $screen-lg) {
      padding: 120px 0 0;
    }

    p {
      font-size: 0.82352941176em;
      font-family: $skoda-next-bold;
      text-transform: uppercase;
      letter-spacing: 0.146em;
      color: $grey-mid;
      margin: 0;

    }
  }

  &__sub-title {
    margin: 0px 0 30px;
    display: inline-block;
    
    @media (min-width: $screen-lg) {
      margin: 0px 0 80px;
    }

    h1 {
      @extend .heading-type-2;
      color: $white;
      margin: 0;
      //text-align: left;
    }

    p {
      font-size: 0.82352941176em;
      font-family: $skoda-next-bold;
      text-transform: uppercase;
      letter-spacing: 0.146em;
      color: $grey-mid;
    }
  }
}