pre {
  background-color: $grey-heavy;
  padding: 10px;
  color: white;
  font-family: monospace;
  margin: 20px 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.github-link {
  background-image: url('/dist/img/code-icon.png');
  width: 45px;
  height: 20px;
  display: block;
}