.cta-container {
	display: flex; 
	flex-wrap: wrap;
	margin-bottom: 20px;

	a {
		position: relative;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-decoration: none;
		@include transition(0.5s);
		margin-right: 0px;
		margin-bottom: 13px;
		font-family: $skoda-next;
		font-size: 0.70588235294em;
		text-align: center;
		@include border-box;
	}

	a.cta-block {
		width: 100%;
		color: white;
		padding: 15px 45px;

		@media (min-width: $screen-md) {
			margin-right: 40px;
			width: auto;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&__primary {
			
			background-color: $skoda-green;
			&:hover {
				background-color: $grey-heavy;
			}
		}

		&__secondary {
			background-color: $grey-dark;
			border: 1px solid $grey-heavy;

			&:hover {
				background-color: $grey-heavy;
			}

			&--white {	
				color: $grey-heavy;
				background-color: $white;
				border: none;
				&:hover {
					color: $white;
					background-color: $grey-heavy;
				}
			}

			&--no-bg {

				&-white {
					background-color: transparent;
					color: $white;
					border-color: $white;

					&:hover {
						color: $grey-heavy;
						background-color: $white;
					}
				}

				&-black {
					background-color: transparent;
					color: $grey-heavy;
					border-color: $grey-heavy;

					&:hover {
						color: $white;
					}
				}
			}
		}
	}

	a.cta-minimal {
		padding: 5px 0px 10px 5px;
		border-bottom: 2px solid $grey-heavy;
		color: $grey-heavy;
		letter-spacing: 5px;
		font-family: $skoda-next-bold;
		margin-right: 40px;
		cursor: pointer;
		font-size: 0.76470588235em;

		&:before, :after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0px;
			width: 0px;
			height: 2px;
			transition: all 0.2s ease-in-out;
			transition-duration: 0.75s;
			opacity: 1;
			background-color: $skoda-green;
		}

		&:hover {
			&:before, :after {
				opacity: 1;
				width: 100%;
			}
		}

		&--white {
			color: $white;
			border-bottom: 2px solid $white;
		}
	}
}


	

