.cta-container {
	display: flex; 
	flex-wrap: wrap;

	a {
		position: relative;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-decoration: none;
		@include transition(0.5s);
		width: 100%;
		margin-right: 0px;
		margin-bottom: 13px;
		font-family: $skoda-next-bold;
		display: inline-block;
		cursor: pointer;

		@media (min-width: $screen-md) {
			margin-right: 40px;
			width: auto;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	a.cta-block {
		color: white;
		padding: 13px 40px;

		&__primary {
			
			background-color: $skoda-green;
			&:hover {
				background-color: $grey-heavy;
			}
		}

		&__secondary {
			background-color: $grey-dark;
			padding: 13px 36px;
			border: 2px solid $grey-heavy;

			&:hover {
				background-color: $grey-heavy;
			}

			&--white {	
				color: $grey-heavy;
				background-color: $white;
				&:hover {
					color: $white;
					background-color: $grey-heavy;
				}
			}

			&--no-bg {
				
				&:hover {
					color: $white;
					background-color: $grey-heavy;
				}

				&-white {
					background-color: transparent;
					color: $white;
					border-color: $white;
				}

				&-black {
					background-color: transparent;
					color: $grey-heavy;
					border-color: $grey-heavy;

					&:hover {
						color: $white;
					}
				}
			}
		}
	}

	a.cta-minimal {
		padding: 5px 5px 10px 5px;
		border-bottom: 3px solid $grey-heavy;
		color: $grey-heavy;
		letter-spacing: 5px;

		&:before, :after {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0px;
			width: 0px;
			height: 3px;
			transition: all 0.2s ease-in-out;
			transition-duration: 0.75s;
			opacity: 1;
			background-color: $skoda-green;
		}

		&:hover {
			&:before, :after {
				opacity: 1;
				width: 100%;
			}
		}

		&--white {
			color: $white;
			border-bottom: 3px solid $white;
		}
	}
}


	

