.humanise-chapter-section {
	display: block;
	position: relative;
	margin-bottom: $webpart-margin-bottom;

	&__background {
		width: 94%;
		height: 94%;
		height: 94vh;
		margin: 3%;
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);
	}

	& .content_zone {
		@include content_absolute;
	}
	
	&__title {

		#{$text} {
			@include content-center;
			@include hero-heading;
		}	
	}
}