.humanise-intro-text {
	width: 100%;
	text-align: center;
	margin-bottom: $webpart-margin-bottom;

	&__heading {
		#{$text} {
			@extend .heading-type-4;
		}
	}

	&__copy {
		margin: 0 auto;
		max-width: $paragraph-width;
	}

	.cta-container {
		justify-content: center;
	}
	
}