.humanise-text {
	width: 100%;
	text-align: center;
	margin-bottom: $webpart-margin-bottom;

	&__heading {
		#{$text} {
			@extend .heading-type-3;
		}
	}

	&__content {
		margin: 0 auto;
		width: 90%;

		
	}

	.cta-container {
		justify-content: center;
	}
	
}