.humanise-intro-text {
	width: 100%;
	text-align: center;
	margin-bottom: $webpart-margin-bottom;

	&__copy {
		margin: 35px auto 0;
		max-width: $paragraph-width;
	}

	.cta-container {
		margin: 0;
		justify-content: center;
	}
	
}