.display-text {
  font-size: 1em !important;
  color: $grey-heavy !important;
  line-height: 1.28571428571 !important;
  letter-spacing: -0.02em !important;
  @media (min-width: $screen-md) {
    font-size: 1.64705882353em !important;
}