body {
	font-family: $skoda-next;
	font-size: 18px;
	@include antialiasing(antialiased)
}

h1, .heading1, h2, .heading2 ,h3, .heading3, h4, .heading4, h5, .heading5 , h6 .heading6 , p {
	line-height: 1.2em !important;
	margin: 1em 0 !important;
	font-family: $skoda-next-bold;
}

h1, .heading1 {
	font-size: 3em !important;

}

h2, .heading2 {
	font-size: 2.8em !important;
}

h3, .heading3 {
	font-size: 2.2em !important;
}

h4, .heading4 {
	font-size: 2em !important;
}

h5, .heading5 {
	font-size: 1.8em !important;
}

h6, .heading6 {
	font-size: 1.5em !important;
}

h4.title--caption-title {
    text-transform: uppercase;
    color: $skoda-black;
    font-size: 0.7em !important;
    font-family: $skoda-next-bold;
    letter-spacing: 0.2em;	
}

.text-light {
	font-family: $skoda-next-light;
}

.text-light-italic {
	font-family: $skoda-next-light-italic;
}

.text-regular {
	font-family: $skoda-next;
}

.text-regular-italic {
	font-family: $skoda-next-italic;
}

.text-bold {
	font-family: $skoda-next-bold;
}

.text-bold-italic {
	font-family: $skoda-next-bold-italic;
}

.text-extra-bold {
	font-family: $skoda-next-extra-bold;
}

.text-extra-bold-italic {
	font-family: $skoda-next-extra-bold-italic;
}

p {
	line-height: 1.6em !important;
	margin-bottom: 2em !important;
	font-family: $skoda-next-light;
	color: $skoda-grey-dark;
	font-size: 1.1em;
	letter-spacing: 0.02em;
}

a {
	text-decoration: none;
	color: $skoda-green;
	
	&:hover {
		text-decoration: underline;
	}
}

.colors {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-bottom: 10px;
	&::before { 
		display: inline-block;
		position: relative;
		left: 120px;
		top: 40%;
		width: 200px;
	}

	&--green {
		background-color: $skoda-green;

		&::before { 
			content: "$skoda-green: "+ $skoda-green + "";
		}
	}

	&--green-dark {
		background-color: $skoda-green-dark;

		&::before { 
			content: "$skoda-green-dark: "+ $skoda-green-dark + "";
		}
	}

	&--grey-light {
		background-color: $skoda-grey-light;

		&::before { 
			content: "$skoda-grey-light: "+ $skoda-grey-light + "";
		}
	}

	&--grey {
		background-color: $skoda-grey;

		&::before { 
			content: "$skoda-grey: "+ $skoda-grey + "";
		}
	}

	&--grey-dark {
		background-color: $skoda-grey-dark;

		&::before { 
			content: "$skoda-grey-dark: "+ $skoda-grey-dark + "";
		}
	}

	&--grey-transparent {
		background-color: $skoda-grey-transparent;

		&::before { 
			content: "$skoda-grey-transparent: "+ $skoda-grey-transparent + "";
		}
	}

	&--black {
		background-color: $skoda-black;

		&::before { 
			content: "$skoda-black: "+ $skoda-black + "";
		}
	}

	&--cta-footer {
		background-color: $cta-footer;

		&::before { 
			content: "$cta-footer: "+ $cta-footer + "";
		}
	}
}

.sk-green {
	color: $skoda-green;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.bg-img--static {
	background-image: url(http://www.skoda.co.uk/SiteCollectionImages/Models/Kodiaq/dbsd/static-bg.jpg);
}