.colors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.colors {
	width: 120px;
	height: 200px;
	margin: 10px;
	@include border-box;

	p {
		font-weight: bold;
		position: relative;
		top: 100px;
		text-align: center;
	}

	&--skoda-green {
		background-color: $skoda-green;
		p {
			color: $white;
		}
	}
	&--grey-heavy {
		background-color: $grey-heavy;
		p {
			color: $white;
		}
	}
	&--grey-dark {
		background-color: $grey-dark;
		p {
			color: $white;
		}
	}
	&--grey-mid {
		background-color: $grey-mid;
		p {
			color: $white;
		}
	}
	&--grey-light {
		background-color: $grey-light;
	}
	&--grey-feint {
		background-color: $grey-feint;
	}
	&--white {
		background-color: $white;
		border: 1px solid $grey-light;
	}
	&--ui-red {
		background-color: $ui-red;
		p {
			color: $white;
		}
	}
	&--ui-orange {
		background-color: $ui-orange;
	}
	&--ui-yellow {
		background-color: $ui-yellow;
	}
	&--ui-blue {
		background-color: $ui-blue;
		p {
			color: $white;
		}
	}
}