body {
	margin: 0;
	font-family: "SKODA Next W01 Regular", arial, verdana, helvetica, sans-serif !important;

	.page {
		.bMain {
			font-family: "SKODA Next W01 Regular", arial, verdana, helvetica, sans-serif !important;
			margin-top: -25px !important;

			.bmBody {
			
				width: 100% !important;
				padding: 0 !important;
				font-family: $skoda-next;

				.ms-WPBody {
					a {
						color: $skoda-white !important;

						&:hover {
							text-decoration: none !important;
						}
					}
				}
			}
		}
	}
}

.content_zone {
	width: 90%;
	margin: 0 auto;
	position: relative;
	@media (min-width: $screen-desktop) {
		width: $safe-zone;
	}
}

.paragraphRowLocal {
	display: inline-block;
	clear: both;
	width: 100%;
	// To mirror the CMS
	font-size: 15px;
}

.paragraphContent {
	display: block;
}

.whisbi-oto__content p {
 	margin-bottom: 0 !important;
}

.callToActionTopAllArea {
	display: none !important;
}

.ms-core-overlay {
    margin-top: -40px !important;
}

.ms-status-yellow {
	height: 50px;
}

/* Remove top CTAs and push page up END */

.sa-ci p {
	padding: 0 !important;
}

.sa-padding-def {
	padding: 0 !important;
}