@mixin transition($transition) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}

@mixin background($background) {
	-moz-background:    $background;
	-o-background:      $background;
	-webkit-background: $background;
	background:         $background;
}

@mixin transform($transformX, $tranformY) {
	-moz-transform:    	translate($transformX, $tranformY);
	-o-transform:      	translate($transformX, $tranformY);
	-webkit-transform: 	translate($transformX, $tranformY);
	transform:         	translate($transformX, $tranformY);
}

@mixin content-center {
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(-50%, -50%);
}

@mixin content-absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin border-box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin antialiasing($type) {
	-webkit-font-smoothing: $type;
	font-smoothing: $type;
	font-smooth: always;
}

@mixin background-size($size){
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin hero-heading() {

	// heading-type-1 start

	letter-spacing: 0.1em;
	font-size: 1.76470588235em;
	@media (min-width: $screen-md) {
		font-size: 2.58823529412em;
	}
	@media (min-width: $screen-lg) {
		font-size: 2.82352941176em;
	}

	// heading-type-1 end


	text-align: center;
	color: $white;
	letter-spacing: 0.4em;
	line-height: 2;
	margin: 0;
}

@mixin hero-heading-small() {
	
	// heading-type-2 start

	letter-spacing: 0.1em;
	font-size: 1.41176470588em;
	@media (min-width: $screen-md) {
		font-size: 2em;
	}

	// heading-type-2 end
	
	text-align: center;
	color: $white;
	letter-spacing: 0.4em;
	line-height: 1.5;
	margin: 0;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;
}