$skoda-next-light: 				"SKODA Next W01 Light",arial,verdana,helvetica,sans-serif !important;
$skoda-next-light-italic: 		"SKODA Next W01 Light Italic",arial,verdana,helvetica,sans-serif !important;
$skoda-next: 					"SKODA Next W01 Regular",arial,verdana,helvetica,sans-serif !important;
$skoda-next-italic: 			"SKODA Next W01 Regular Italic",arial,verdana,helvetica,sans-serif !important;
$skoda-next-bold: 				"SKODA Next W01 Bold",arial,verdana,helvetica,sans-serif !important;
$skoda-next-bold-italic: 		"SKODA Next W01 Bold Italic ",arial,verdana,helvetica,sans-serif !important;
$skoda-next-extra-bold: 		"SKODA Next W01 Extra Bold",arial,verdana,helvetica,sans-serif !important;
$skoda-next-extra-bold-italic: 	"SKODA Next W01 Extra Bold Italic",arial,verdana,helvetica,sans-serif !important;			

$skoda-green: #4BA82E;
$grey-heavy: #212428;
$grey-dark: #4A4A4A;
$grey-mid: #888888;
$grey-light: #E2DFDE;
$grey-feint: #F7F7F7;
$white: #FFFFFF;

$ui-red: #e60044;
$ui-orange: #fe9226;
$ui-yellow: #ffc632;
$ui-blue: #0077e9;

$safe-zone: 1100px;

// $margin-bottom: 10vh;

$screen-md: 768px;
$screen-lg: 1200px;

// Navigation heights 

$navTopNav: 60px;
$navGreenNav: 42px;
$navThirdNav: 54px;