$skoda-next-light: 				"SKODA Next W01 Light",arial,verdana,helvetica,sans-serif !important;
$skoda-next-light-italic: 		"SKODA Next W01 Light Italic",arial,verdana,helvetica,sans-serif !important;
$skoda-next: 					"SKODA Next W01 Regular",arial,verdana,helvetica,sans-serif !important;
$skoda-next-italic: 			"SKODA Next W01 Regular Italic",arial,verdana,helvetica,sans-serif !important;
$skoda-next-bold: 				"SKODA Next W01 Bold",arial,verdana,helvetica,sans-serif !important;
$skoda-next-bold-italic: 		"SKODA Next W01 Bold Italic ",arial,verdana,helvetica,sans-serif !important;
$skoda-next-extra-bold: 		"SKODA Next W01 Bold",arial,verdana,helvetica,sans-serif !important;
$skoda-next-extra-bold-italic: 	"SKODA Next W01 Extra Bold Italic",arial,verdana,helvetica,sans-serif !important;			

$skoda-green: #4ba82e;
$skoda-green-dark: #3f7d2c;

$skoda-grey-light: #e0dede;
$skoda-grey: #9B9B9B;;
$skoda-grey-dark: #4A4A4A;
$skoda-grey-transparent: rgba(74, 74, 74, 0.9);

$skoda-black: #000;

$skoda-white: #fff;
$skoda-white-transparent: rgba(255, 255, 255, 0.9);

$skoda-transparent: transparent;
$cta-footer: #F1F8F9;

$cta-font: 0.75em !important;

$safe-zone-small: 970px;
$safe-zone: 1050px;

$margin-bottom: 10vh;

$screen-desktop: 1400px;

$skoda-model-colour-velvet-red: #B5201A;
$skoda-model-colour-lava-blue: #164f6d;
$skoda-model-colour-black-magic: #212429;
$skoda-model-colour-business-grey: #908893;
$skoda-model-colour-quartz-grey: #3E4E5B;
$skoda-model-colour-steel-grey: #9C9C9C;
$skoda-model-colour-moon-white: #EEF5FF;
$skoda-model-colour-brilliant-silver: #E4E4E4;

// Navigation heights 

$navTopNav: 60px;
$navGreenNav: 42px;
$navThirdNav: 54px;

.hidden {display: none;}