.humanise-primary-hero {
	display: block;
	position: relative;
	max-height: 100vh;
	margin-bottom: $webpart-margin-bottom;

	&__background {
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);
		height: 100vh;
	}

	// &__video {
	// 	height: calc(100vh - 159px);
	// }	

	& .content_zone {
		@include content-absolute;
	}
	
	&__title {
		@include content-center;
		width: 100%;

		@media (min-width: $screen-lg) {
			margin: 0 auto;
			width: 80%;
		}

		#{$text} {
			@include hero-heading;
		}

		&--top {
			top: 20px;
			height: 0px;

			#{$text} {
				line-height: 1.5;
			}
		}

		&--bottom {
			top: auto;
			bottom: 0px;
			
			#{$text} {
				line-height: 1.5;
			}
		}

		&--tag {
			#{$text} {
				font-size: 1em;
				letter-spacing: 2px;
			}
		}
	}

	.cta-container {
		position: absolute;
		left: 50%;
		bottom: 2%;
		@include transform(-50%, -50%);
	}
}