.humanise-hero {
	
	display: block;
	position: relative;
	max-height: 100vh;
	margin-bottom: $webpart-margin-bottom;

	&__background {
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);
		height: 100vh;
	}

	&__video {
		height: calc(100vh - 159px);
	}
	// img {
	// 	width: 100%;
	// }	

	& .content_zone {
		@include content_absolute;
	}
	
	&__title {
		@include hero-heading(3.2em);

		&--top {
			@include hero-heading(3.2em);
			top: 80px;
			line-height: 1.5;
			margin: 0;
		}

		&--bottom {
			@include hero-heading(3.2em);
			top: auto;
			bottom: 30px;
			margin-bottom: 0;
			line-height: 1.5;
		}
	}

	.cta-container {
		position: absolute;
		left: 50%;
		bottom: 2%;
		@include transform(-50%, -50%);
	}
}