.stickyMenuContainerInner {
  width: 100% !important;

  .bmSubmenu {
    background-color: $white;
  }
}

.bmSubmenu {
  border: 0;
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  // position: relative;
  // top: -30px;
  // &:hover {
  //   top: 0;
  // }
  li {
    padding-bottom: 0 !important;
  }
}

.bmsTitle {
  display: none;
}

.bmsMenu {
  $secondary-nav-padding: 20px 25px 19px !important;
  border: none;
  border: 0;
  top: 0 !important;
  text-align: center;
  text-transform: uppercase;
  //background-color: $skoda-white;
  padding-bottom: 0 !important;
  ul li {
    background: none !important;
    a, span {
      padding: $secondary-nav-padding;
      font-size: 1.2em !important;
      letter-spacing: 3px;
      background: none !important;
      border-bottom: 4px solid transparent;
      font-family: $skoda-next;
      margin: 0 7px;
      @media (min-width: $screen-lg) {
        margin: 0 10px;
      }
      
      &:hover, &.selected span {
        padding: $secondary-nav-padding;
        text-transform: uppercase;
        background: none;
        border-bottom: 4px solid transparent;
        border-bottom: 4px solid $skoda-green !important;
        font-family: $skoda-next-bold;
        color: $grey-heavy;
      }
    } 
    &.selected {
      a, span {
        border-bottom: 4px solid $skoda-green;
        font-family: $skoda-next-bold;
      }
    }
  }
}