.humanise-image-quote {
	display: block;
	position: relative;
	margin-bottom: $margin-bottom;

	img {
		width: 100%;
	}

	& .content_zone {
		@include content_absolute;
	}


	&__quote {
		width: 400px;
		position: absolute;
		right: 100px;
		top: 50px;
		@media (min-width: $screen-desktop) {
			right: 60px;
			width: 600px;
			top: 100px;
		}

		blockquote, p {
			box-shadow: 15px 0 0 $skoda-white-transparent, -15px 0 0 $skoda-white-transparent;
			background: $skoda-white-transparent;
			display: inline;
			font-size: 1.9em;
			line-height: 1.4;
			text-transform: uppercase;
			letter-spacing: 6px;
			font-family: $skoda-next-bold;
			color: $skoda-grey-dark;
			@media (min-width: $screen-desktop) {
				font-size: 2.7em;
			}
			// &::before, &::after {
			// 	content: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/quote.svg");
			// 	//content: ' "';
			// 	width: 30px;
			// }

			// &:after {
			// 	left: 0px;
			// 	top: 10px;
			// 	position: relative;
			// }
		}

		blockquote {

			&:before {
				content: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/quote.svg");
				width: 30px;
				top: -76px;
				left: -83px;
				position: absolute;
			}
		}
	}

	&__text {
		
		position: relative;
		top: 220px;
		width: 300px;
		right: 50px;
		float: right;
		font-size: 0.9em;
		
		@media (min-width: $screen-desktop) {
			top: 320px;
			right: 0px;
		}
	}
}