.humanise-video {
	width: 100%;
	padding-top: 56.25%;
    position: relative;
    margin-bottom: $webpart-margin-bottom;

	// &__poster {
	// 	width: 100%;
	// 	height: 100%;
	// }

	&__poster, &__video {
		width: 100%;
		height: 100%;
		@include content-absolute;
	}
}

iframe {
	&.controls {
		background-color: red;
		width: 200px;
		height: 200px;
		/* display: inline-block; */
		position: absolute;
		z-index: 1000;
		top: 0;
	}

	& .controls {
		display: none;
	}
}

