.humanise-video {
	width: 100%;
	padding-top: 56.25%;
    position: relative;
    margin-bottom: $webpart-margin-bottom;

	// &__poster {
	// 	width: 100%;
	// 	height: 100%;
	// }

	&__poster, &__video {
		width: 100%;
		height: 100%;
		@include content-absolute;
	}
}

// [data-ytID] {
// 	& [data-video-autoplay = "1"] {
// 		&:after {
// 			content: 'fint me';
// 			display: block;
// 			width: 100px;
// 			height: 100px;
// 			background-color: red;
// 		}
// 	}
// }