.humanise-promo-rich-copy {
	width: 100%;
  position: relative;
  margin-bottom: $webpart-margin-bottom;

	&__background {
    height: 300px;

    @media (min-width: $screen-md) {
      height: 600px;
    }

    @media (min-width: $screen-lg) {
      height: 80vh;
    }

		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);

    &--parallax {
      @media (min-width: $screen-md) {
        background-attachment: fixed;
      }
    }
	}

	&__copy {
    padding: 3% 5% 0;

    @media (min-width: $screen-md) {
      position: absolute;
      bottom: 0;
      left: 10%;
      background-color: $white;
      width: 60%;
    }

    @media (min-width: $screen-lg) {
      width: 500px;
    }

    &--right-aligned {
      position: relative;
      left: 0%;

      @media (min-width: $screen-md) {
        position: absolute;
        bottom: 0;
        left: 20%;
      }

      @media (min-width: $screen-lg) {
        left: 48%;
      }
    }
	}
}