.humanise-footer-ctas {
	height: 800px;
	background: $cta-footer;

	&__hero {
		width: 100%;
		text-align: center;

		img {
			width: 700px;
			margin: 0 auto;
		}

		h2, p {
			text-transform: uppercase;
			letter-spacing: 7px;
			font-family: $skoda-next-bold;
		}

		h2 {
			color: $skoda-grey-dark;
			margin-bottom: 0 !important;
		}

		p {
			color: $skoda-grey;
			margin-top: 0 !important;
			margin-bottom: 3em !important;
		}

	}

	&__cta {
		width: 25%;
		display: inline-block;
		float: left;
		text-align: center;
		padding: 0 25px;
		@include border_box;
		min-height: 270px;
		position: relative;

		h4 {
			text-transform: uppercase;
			font-size: 1em !important;
			font-weight: bold;
			padding-bottom: 1em !important;
			border-bottom: 1px solid $skoda-grey-light;
			font-family: $skoda-next-bold;
			letter-spacing: 3px;
		}

		p {
			font-size:0.95em;
			color: $skoda-grey-dark;
			padding: 0 25px !important;
		}

		a {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			margin: 0 auto !important;
			width: 140px;
		}
	}
}