.split-50-50 {
	margin-bottom: ($webpart-margin-bottom /2);

	@media (min-width: $screen-md) {
		display: flex;
		justify-content: space-evenly;
		align-items:center;
	}

	&__col {
		width: 100%;

		@media (min-width: $screen-md) {
			width: 50%;
		}

		* {
			margin: 0;
		}
	}

}