.humanise-full-height-fixed {
	display: block;
	position: relative;
	margin-bottom: $margin-bottom;
	width: 100%;
	height: 60vh;
	background: no-repeat center center; 
	@include background-size(cover);

	& .content_zone {
		@include content_absolute;
	}

	h2 {
		@include hero-heading(2.5em);
	}
}