.display-text {
	font-size: 1.64705882353em;
	color: $grey-heavy;
	line-height: 1.28571428571;

	&--bold {
		font-family: $skoda-next-extra-bold;
	}

	&--light {
		font-family: $skoda-next-light;
	}

	&--quote {
		color: $grey-dark;
		border-left: 1px solid $skoda-green;
		margin-left: -20px;
		padding-left: 20px;
		font-family: $skoda-next-light-italic;
	}
}