.display-text-bold {
	font-size: 2em;
	color: $grey-heavy;
	font-family: $skoda-next-extra-bold;
	line-height: 1.1;
}

.display-text-light {
	font-size: 2em;
	color: $grey-heavy;
	font-family: $skoda-next-light;
	line-height: 1.1;
}