.slider-colour-selector {
  .content_zone {
    background-color: $skoda-white;
    width: 1000px !important;

    .unslider-wrap {
      height: 563px;

      & > li {
        padding: 0;
        height: 563px;

        @media (min-width: $screen-desktop) {
          padding: 0;
        }

        .colour__title {
          position: absolute;
          bottom: 0;
          left: 1em;
          padding: 0;
          margin: 0 !important;
        }
      }   
    }
  }

  & ~ .unslider-arrow {
    display: none;
  } 

  & ~ .unslider-nav {
    width: 1000px;
    margin: auto;

    ol {
      text-align: right;
      position: relative;
      height: 50px;
      margin-top: 30px;

      li {
        height: 14px !important;
        width: 14px;
        border: 1px solid;
        border-radius: 8px;
        text-indent: 0;

        h4.title--caption-title {
          position: absolute;
          left: 0;
          top: 0;
          margin: 0 !important;
          display: none;
          line-height: 20px;
        }

        &.unslider-active {
          &:before {
            content: '';
            border: 1px solid;
            display: block;
            width: 31px;
            height: 31px;
            border-radius: 16px;
            position: absolute;
            top: -9px;
            margin-left: -9px;
          }

          h4.title--caption-title {
            display: block;
          }
        }

        &.slider-colour-selector__colour--velvet-red {
          background-color: $skoda-model-colour-velvet-red;
          border-color: $skoda-model-colour-velvet-red;

          &:before {
            border-color: $skoda-model-colour-velvet-red;
          }
        }

        &.slider-colour-selector__colour--lava-blue {
          background-color: $skoda-model-colour-lava-blue;
          border-color: $skoda-model-colour-lava-blue;

          &:before {
            border-color: $skoda-model-colour-lava-blue;
          }
        }        

        &.slider-colour-selector__colour--black-magic {
          background-color: $skoda-model-colour-black-magic;
          border-color: $skoda-model-colour-black-magic;

          &:before {
            border-color: $skoda-model-colour-black-magic;
          }
        }

        &.slider-colour-selector__colour--business-grey {
          background-color: $skoda-model-colour-business-grey;
          border-color: $skoda-model-colour-business-grey;

          &:before {
            border-color: $skoda-model-colour-business-grey;
          }
        }

        &.slider-colour-selector__colour--quartz-grey {
          background-color: $skoda-model-colour-quartz-grey;
          border-color: $skoda-model-colour-quartz-grey;

          &:before {
            border-color: $skoda-model-colour-quartz-grey;
          }
        } 

        &.slider-colour-selector__colour--steel-grey {
          background-color: $skoda-model-colour-steel-grey;
          border-color: $skoda-model-colour-steel-grey;

          &:before {
            border-color: $skoda-model-colour-steel-grey;
          }
        }                                   

        &.slider-colour-selector__colour--moon-white {
          background-color: $skoda-model-colour-moon-white;
          border-color: $skoda-grey;

          &:before {
            border-color: $skoda-grey;
          }
        }

        &.slider-colour-selector__colour--brilliant-silver {
          background-color: $skoda-model-colour-brilliant-silver;
          border-color: $skoda-model-colour-brilliant-silver;

          &:before {
            border-color: $skoda-model-colour-brilliant-silver;
          }
        }
      }
    }
  }
}
