{% include '_webparts/pattern-library/head/index.html' %}

	{% include '_webparts/pages/octavia/features/promo-hero/octavia-features.html' %}

	{% include '_webparts/pages/octavia/features/deeplink-nav/index.html' %}

	{% include '_webparts/pages/octavia/overview/sidebar-ctas/index.html' %}

	{% include '_webparts/pages/octavia/features/split-2/example-octavia-features.html' %}

	{% include '_webparts/pages/octavia/features/chapter-section/example-octavia-features-chapter-1.html' %}

	{% include '_webparts/pages/octavia/features/display-text/chapter-1.html' %}

	{% include '_webparts/pages/octavia/features/expandable-image-gallery/example-octavia-features-1.html' %}

	{% include '_webparts/pages/octavia/features/chapter-section/example-octavia-features-chapter-2.html' %}

	{% include '_webparts/pages/octavia/features/display-text/chapter-2.html' %}

	{% include '_webparts/pages/octavia/features/expandable-image-gallery/example-octavia-features-2.html' %}

	{% include '_webparts/pages/octavia/features/chapter-section/example-octavia-features-chapter-3.html' %}

	{% include '_webparts/pages/octavia/features/display-text/chapter-3.html' %}

	{% include '_webparts/pages/octavia/features/expandable-image-gallery/example-octavia-features-3.html' %}

	{% include '_webparts/pages/octavia/features/chapter-section/example-octavia-features-chapter-4.html' %}

	{% include '_webparts/pages/octavia/features/display-text/chapter-4.html' %}

	{% include '_webparts/pages/octavia/features/expandable-image-gallery/example-octavia-features-4.html' %}

	{% include '_webparts/pages/octavia/features/slider/index.html' %}

	{% include '_webparts/pages/octavia/overview/promo-info/live-tour.html' %}

	{% include '_webparts/pages/octavia/overview/intro-text/special-editions.html' %}

	{% include '_webparts/pages/octavia/overview/flexi-grid/octavia.html' %}

	{% include '_webparts/pages/octavia/overview/footer-ctas/octavia.html' %}

{% include '_webparts/pattern-library/footer/index.html' %}