{% include '_webparts/pattern-library/head/index.html' %}

		{% include '_webparts/webparts/primary-hero/example-octavia.html' %}

		{% include '_webparts/webparts/sidebar-ctas/index.html' %}

		{% include '_webparts/webparts/intro-text/example-octavia.html' %}

		{% include '_webparts/webparts/chapter-section/example-octavia.html' %}

		{% include '_webparts/webparts/parallax/index.html' %}

		{% include '_webparts/webparts/background-fixed/example-octavia.html' %}

		{% include '_webparts/molecules/slider/index.html' %}

		{% include '_webparts/webparts/awards/index-three.html' %}

		{% include '_webparts/webparts/quote-slider/index.html' %}

		{% include '_webparts/webparts/promo-rich-copy/example-octavia.html' %}

		{% include '_webparts/organisms/split-3/example-octavia.html' %}

{% include '_webparts/pattern-library/footer/index.html' %}