{% include '_webparts/pattern-library/head/index.html' %}

{% include '_webparts/pattern-library/nav/index.html' %}

		<div class="pattern-library-header">
			<div class="nav-show-hide"></div>
			<div class="content_zone">
				<div class="pattern-library-header__title">
					<p>ŠKODA Webpart Library</p>
				</div>
				<div class="pattern-library-header__sub-title">
					<h1>Example Page</h1>
				</div>
			</div>
		</div>

		<div class="content_zone">
			<h1 class="heading-type-1">ŠKODA Announces Partnership with Paloma Faith in New Brand Campaign</h1>
			<p class="display-text display-text--bold">ŠKODA has today announced a new partnership with leading UK artist Paloma Faith, in the brand’s next installment of its Driven by Something Different campaign.</p>
			<p>Milton Keynes, 1 February 2018: Paloma, whose unique spirit and style are often recognised beyond music, will be the brand’s first ambassador for the ŠKODA Driver’s Seat Initiative. The programme, which will work with the Prince’s Trust, celebrates individuality by giving young, creative people the opportunity to shape their own future and make a positive impact on their local community.</p>
			
			<h2 class="heading-type-2">Make Your Own Kind of Music</h2>
			<p>ŠKODA has chosen the 1969 hit song ‘Make Your Own Kind of Music’, as the soundtrack to support the campaign. Paloma has recorded her own version of the classic song that will feature in the brand’s forthcoming Karoq TV ad that will air in March. The song’s lyrics, “make your own kind of music, even if nobody else sings along”, echoes the message to promote individuality and encourage people to unlock their full potential.</p>
			<p>Paloma Faith said, “The idea to inspire people to ‘make their own kind of music’ is extremely powerful, and I am excited to be working alongside ŠKODA to bring this to life.</p>

			<h3 class="heading-type-3">Close to my heart</h3>
			<p>“The Prince’s Trust is a charity that is close to my heart and was an organisation that helped me when I was a teenager. The new initiative that we are launching will provide real opportunities to young people, helping them achieve whatever they dream possible.”</p>
			<p>Kirsten Stagg, Head of Marketing, ŠKODA UK, added, “Paloma embodies the Driven by Something Different attitude. She has an individual self-confidence, an infectious optimism, and a spirit that sets her apart from the rest. We feel privileged to be working with Paloma as we launch the Driver's Seat Initiative”</p>

			<p class="display-text display-text--quote">ŠKODA UK launched the Driven by Something Different brand campaign in early 2017 and featured Sir Bradley Wiggins.</p>
			
			<h4 class="heading-type-4">The soundtrack to support the campaign</h4>
			<p>ŠKODA has chosen the 1969 hit song ‘Make Your Own Kind of Music’, as the soundtrack to support the campaign. Paloma has recorded her own version of the classic song that will feature in the brand’s forthcoming Karoq TV ad that will air in March. The song’s lyrics, “make your own kind of music, even if nobody else sings along”, echoes the message to promote individuality and encourage people to unlock their full potential.</p>
			<p>Paloma Faith said, “The idea to inspire people to ‘make their own kind of music’ is extremely powerful, and I am excited to be working alongside ŠKODA to bring this to life.</p>

			<h5 class="heading-type-5">Close to my heart</h5>
			<p>“The Prince’s Trust is a charity that is close to my heart and was an organisation that helped me when I was a teenager. The new initiative that we are launching will provide real opportunities to young people, helping them achieve whatever they dream possible.”</p>
			<p>Kirsten Stagg, Head of Marketing, ŠKODA UK, added, “Paloma embodies the Driven by Something Different attitude. She has an individual self-confidence, an infectious optimism, and a spirit that sets her apart from the rest. We feel privileged to be working with Paloma as we launch the Driver's Seat Initiative”</p>

			<h6 class="heading-type-6">The idea to inspire people</h6>
			<p>Paloma Faith said, “The idea to inspire people to ‘make their own kind of music’ is extremely powerful, and I am excited to be working alongside ŠKODA to bring this to life.</p>

			<div class="terms-and-conditions">
				<p>The Driver's Seat Initiative will be available via The Prince's Trust existing Get Started programme.  More information on the initiative will soon be available at: <a href="">www.skoda.co.uk/drivers-seat-initiative.</a></p>
			</div>
		</div>


{% include '_webparts/pattern-library/footer/index.html' %}