{% include '_webparts/pattern-library/head/index.html' %}

{% include '_webparts/pattern-library/nav/index.html' %}

		<div class="pattern-library-header">
			<div class="nav-show-hide"></div>
			<div class="content_zone">
				<div class="pattern-library-header__title">
					<p>ŠKODA Webpart Library</p>
				</div>
				<div class="pattern-library-header__sub-title">
					<h1>Example Content Page</h1>
				</div>
			</div>
		</div>

		{% include '_webparts/webparts/primary-hero/index.html' %}

		{% include '_webparts/webparts/intro-text/index.html' %}

		{% include '_webparts/webparts/chapter-section/index.html' %}

		{% include '_webparts/webparts/parallax/index.html' %}

		{% include '_webparts/webparts/background-fixed/index.html' %}

		{% include '_webparts/webparts/tabs/index.html' %}

		{% include '_webparts/webparts/expandable-image-gallery/index.html' %}


{% include '_webparts/pattern-library/footer/index.html' %}