{% include '_webparts/pattern-library/head/index.html' %}

{% include '_webparts/pattern-library/nav/index.html' %}
	

	<div class="content_zone">
		<p class="heading-type-1">ŠKODA Webpart Library</p>

		<p>A single source of truth for all;</p>
		<ul class="list">
			<li><strong>Designers</strong> - Design standards, Laid out building blocks</li>
			<li><strong>Front Enders</strong> - Reusable tested consistent code, Modular file structure</li>
			<li><strong>Project Managers</strong> - Quicker prototyping, Contexual discussions with clients</li>
			<li><strong>Clients</strong> - Faster build, Less resource, Content led</li>
		</ul>
		
		{% include '_webparts/atoms/intro/index.html' %}
		{% include '_webparts/molecules/intro/index.html' %}
		{% include '_webparts/webparts/intro/index.html' %}
	</div>


{% include '_webparts/pattern-library/footer/index.html' %}