{% include '_webparts/pattern-library/head/index.html' %}

{% include '_webparts/pattern-library/nav/index.html' %}
	
	<div class="pattern-library-header">
		<div class="nav-show-hide"></div>
		<div class="content_zone">
			<div class="pattern-library-header__title">
				<p>ŠKODA Webpart Library</p>
			</div>
			<div class="pattern-library-header__sub-title">
				<h1 class="heading-type-2">Molecules - Video</h1>
			</div>
		</div>
	</div>

	<div class="content_zone">
		{% include '_webparts/molecules/video/index.html' %}
	</div>

	<div class="content_zone">
		<div class="terms-and-conditions">
		<p>Add a video using <strong>id="player1"</strong> and <strong>data-ytID="{youtube ID from video URL}"</strong>. Use <strong>data-autoplay="1"</strong> to autoplay. If using additional videos on the page increment the id number, so the second video would have id="player2", the third "player3" etc.</p>
	</div>

{% include '_webparts/pattern-library/footer/index.html' %}