{% include '_webparts/pattern-library/head/index.html' %}

{% include '_webparts/pattern-library/nav/index.html' %}

	<div class="pattern-library-header">
		<div class="content_zone">
			<div class="pattern-library-header__title">
				<p>ŠKODA Webpart Library</p>
			</div>
			<div class="pattern-library-header__sub-title">
				<h1>Organisms - 50:50 Split</h1>
			</div>
		</div>
	</div>

	{% include '_webparts/organisms/split-50-50/index.html' %}

{% include '_webparts/pattern-library/footer/index.html' %}