.text-light {
	font-family: $skoda-next-light;
}

.text-light-italic {
	font-family: $skoda-next-light-italic;
}

.text-regular {
	font-family: $skoda-next;
}

.text-regular-italic {
	font-family: $skoda-next-italic;
}

.text-bold {
	font-family: $skoda-next-bold;
}

.text-bold-italic {
	font-family: $skoda-next-bold-italic;
}

.text-extra-bold {
	font-family: $skoda-next-extra-bold;
}

.text-extra-bold-italic {
	font-family: $skoda-next-extra-bold-italic;
}