p {
	line-height: 1.5;
	margin-bottom: 2em;
	font-family: $skoda-next-light;
	letter-spacing: 0.02em;
}

a {
	text-decoration: none;
	color: $skoda-green;
	
	&:hover {
		text-decoration: underline;
	}
}

.text-light {
	font-family: $skoda-next-light;
}

.text-light-italic {
	font-family: $skoda-next-light-italic;
}

.text-regular {
	font-family: $skoda-next;
}

.opening-paragraph {
	font-size: 0.94444444em;
	font-family: $skoda-next-bold;
	
	@media (min-width: $screen-md) {
		font-size: 1.23529412em;
	}
}

.text-regular-italic {
	font-family: $skoda-next-italic;
}

.text-bold {
	font-family: $skoda-next-bold;
}

.text-bold-italic {
	font-family: $skoda-next-bold-italic;
}

.text-extra-bold {
	font-family: $skoda-next-extra-bold;
}

.text-extra-bold-italic {
	font-family: $skoda-next-extra-bold-italic;
}

strong {
	@extend .text-bold;
}

.caption-text {
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.2em;
	margin-top: 12px;
}

.warning-text {
	color: $ui-red !important;
}