.humanise-awards {
	margin-bottom: $webpart-margin-bottom;

	.humanise-awards__list {
		overflow: hidden;
	
	}
		
	.humanise-awards__list-item {
		text-align: center;
		float: left;
		width: 100%;
		padding: 30px;
		@include border-box;
		background: $grey-feint;
		
		@media (min-width: $screen-md) {
			padding: 20px 30px 35px;
			background: $grey-feint;
			background-size: 40px;			
		}
		
		p {
			margin: 0 auto 5px;
						
			&.humanise-awards__source {
			
				margin: 0 auto;
				
				@media (min-width: $screen-md) {
					margin-bottom: 20px;
				}
			
			}
			
			// span {
			// 	white-space: nowrap;
				
			// 	@media (min-width: $screen-md) {
			// 		white-space: normal;
			// 	}
			// }
			
		}
		
		&:nth-child(2) {
			background-color: $grey-light;
		}
		
		&:first-child:nth-last-child(2),
		&:first-child:nth-last-child(2) ~ li {
			@media (min-width: $screen-md) {
				width: 50%;
			}
		}

		&:first-child:nth-last-child(3),
		&:first-child:nth-last-child(3) ~ li {
			@media (min-width: $screen-md) {
				width: 33.3333%;
			}
		}

	}
	
	.humanise-awards__logo {
		height: 200px;
		text-align: center;
		align-items: center;
		justify-content: center;
		display: none;
		
		@media (min-width: $screen-md) {
			display: flex;
		}
		
		img {
			max-width: 160px;
			max-height: 160px;
			height: auto;
		}
	}

}