.unslider {
  //overflow: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: $margin-bottom;
}
.unslider .content_zone {
  overflow: hidden;
}

.unslider-wrap {
  position: relative;
  //@include transition(0.8s ease-in-out);
}

.unslider-wrap.unslider-carousel {

  li {
    float: left;
    height: 400px;
    padding: 0 100px;
    overflow: hidden;
    text-align: center;
    @include border_box;
    position: relative;

      img {
        width: 100%;
      }

      p {
        font-family: $skoda-next-bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $skoda-grey;
        text-transform: uppercase;
        font-size: 1.6em;
        margin: 0 !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

      // &.quote {
      //   //  background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/quote.svg");
      //   background-size: 300px;
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%,-50%);
      // }

      &.quote {
        
        &::after {
          background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/quote.svg");
          background-size: 250px 250px;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%); 
          width: 250px; 
          height: 250px;
          content:"";
        }
      }

      &.cite {
        position: absolute;
        top: 90%;
        // bottom: 1%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        color: $skoda-grey-dark;
      }

      a {
        display: inline-block;
        
        &:after {
          background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/arrow_right_dark.svg);
          color: $skoda-grey-dark;
          background-size: 9px 9px;
          background-repeat: no-repeat;
          display: inline-block;
          position: relative;
          left: 4px;
          top: -2px;
          width: 9px;
          height: 9px;
          content: "";
          @include transition(0.5s ease-in-out);
        }

        &:hover {
          &:after {
            transform: scale(1.5);
            // background-size: 15px 15px;
            // width: 15px;
            // height: 15px;
          }
        }
      }
    }
  }
}

.unslider-vertical > ul {
  height: 100%;
}
.unslider-vertical li {
  float: none;
  width: 100%;
}
.unslider-fade {
  position: relative;
}
.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}
.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
}
.unslider ul, .unslider ol, .unslider li {
  list-style: none;
  /* Reset any weird spacing */
  margin: 0;
  padding: 0;
  border: none;
}
.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
  top: 220px;
  display: none;
}
.unslider-arrow.next {
  left: auto;
  right: 20px;
}
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 140px;
  height: 7px;
  margin: 0 15px;
  background: $skoda-grey;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: $skoda-green;
  cursor: default;
}