.list {

	line-height: 1.8;
}

ul.list {
	margin: 0 0 2em 0;
	padding: 0;
	display: block;
	font-size: 1em;
	
	li {
		position: relative;
		padding-left: 20px;
		font-family: $skoda-next-light;
		list-style-type: none;
		margin-bottom: 20px;
		&:before {
			content: "";
			@include border-radius(10px);
			position: absolute;
			top: 11px;
			left: 0;
			width: 10px;
			height: 10px;
			background-color: $grey-light;
		}
	}
}

ol.list {
	margin-left: 20px;
	li {
		list-style-type: decimal;
		margin-bottom: 20px;
	}
}