.list {
	margin: 30px 15px;
	line-height: 1.8;
	font-family: $skoda-next;
	font-size: 1em;
	padding-left: 10px;

	li {
		padding-left: 10px;
		margin-bottom: 20px;
		list-style-type: disc;
	}
}

ol.list {
	li {
		list-style-type: decimal;
	}
}