.humanise-deeplink-nav {
	width: 100%;
	// margin-top: -6px;
	background: rgba(74, 74, 74, 0.9);
	z-index: 99;
	position: relative;
	top: -10vh;

	ul {
		text-align: center;
		
		li {
			position: relative;
			font-size: 0.9em;
			display: inline-block;
			font-family: $skoda-next;
			text-transform: uppercase;
			letter-spacing: 2px;

			@media (min-width: $screen-md) {
				font-size: 1.2em;
				letter-spacing: 3px;
			}

			a {
				display: inline-block;
				padding: 6px 7px;
				text-decoration: none;
				color: $white;
				font-size: 0.75em;

				@media (min-width: $screen-md) {
					padding: 20px 30px;
				}				
			}

			&:after {
				content: '';
				position: absolute;
				right: 0px;
				top: 35%;
				height: 30%;
				border-right: 1px solid $grey-light;
			}

			&:last-of-type:after {
				border-right: none;
			}
		}
	}

	&.sticky {
		position: fixed;
		top: 60px;
	}
}