.pattern-library-nav {
	@include transition(1s ease-in-out);
	position: fixed;
	@include border-box;
	width:200px;
	float: left;
	background: $grey-feint;
	z-index:100;
	height: 100vh;
	overflow: scroll;
	left: 0;
	top: 0;

	ul {
		padding-left: 15px;
		margin-right: 8px;

		li {
			margin: 15px 0;

			h5 {
				margin-top: 40px;
			}
			
		}

		a {
			color: $grey-heavy;
		}

		ul {
			padding-left: 13px;
		}

	}

	&.hide-nav {
		left: -200px;
	}
}



.nav-show-hide {
	position: relative;
	z-index:101;
	-webkit-mask-image: url('/dist/img/icon-menu.svg');
	mask-image: url('/dist/img/icon-menu.svg');
	cursor: pointer;
	background-color:white;
	top: 30px;
	left: 30px;
	width: 30px;
	height: 30px;
	background-size: 30px;
}