@font-face {
  font-family: "SKODA Next W01 Light";
  src: url("/dist/fonts/SKODANext-Light.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-Light.otf") format("opentype");
}

@font-face {
  font-family: "SKODA Next W01 Light Italic";
  src: url("/dist/fonts/SKODANext-LightItalic.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "SKODA Next W01 Regular";
  src: url("/dist/fonts/SKODANext-Regular.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SKODA Next W01 Italic";
  src: url("/dist/fonts/SKODANext-RegularItalic.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "SKODA Next W01 Bold";
  src: url("/dist/fonts/SKODANext-Bold.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SKODA Next W01 Bold Italic";
  src: url("/dist/fonts/SKODANext-BoldItalic.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "SKODA Next W01 Extra Bold";
  src: url("/dist/fonts/SKODANext-ExtraBold.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "SKODA Next W01 Extra Bold Italic";
  src: url("/dist/fonts/SKODANext-ExtraBoldItalic.ttf") format("truetype"),
  url("/dist/fonts/SKODANext-ExtraBoldItalic.otf") format("opentype");
}
