h1,.heading-type-1,
h2,.heading-type-2,
h3,.heading-type-3,
h4,.heading-type-4,
h5,.heading-type-5,
h6,.heading-type-6 {
	line-height: 1.2em !important;
	margin: 1em 0 !important;
	font-family: $skoda-next-bold;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

.heading-type-1 {
	font-size: 2.1em !important;
	@media (min-width: $screen-md) {
		font-size: 2.5em !important;
	}
	@media (min-width: $screen-lg) {
		font-size: 2.9411em !important;
	}
}

.heading-type-2 {
	font-size: 1.9em !important;
	@media (min-width: $screen-md) {
		font-size: 2.2em !important;
	}
	@media (min-width: $screen-lg) {
		font-size: 2.5em !important;
	}
}

.heading-type-3 {
	font-size: 1.8em !important;
	@media (min-width: $screen-md) {
		font-size: 2em !important;
	}
	@media (min-width: $screen-lg) {
		font-size: 2.2em !important;
	}
}

.heading-type-4 {
	font-size: 1.6em !important;
	@media (min-width: $screen-md) {
		font-size: 1.8em !important;
	}
	@media (min-width: $screen-lg) {
		font-size: 2em !important;
	}
}

.heading-type-5 {
	font-size: 1.4em !important;
	@media (min-width: $screen-md) {
		font-size: 1.6em !important;
	}
	@media (min-width: $screen-lg) {
		font-size: 1.8em !important;
	}
}

.heading-type-6 {
	font-size: 1.1em !important;
	@media (min-width: $screen-md) {
		font-size: 1.3em !important;
	}
	@media (min-width: $screen-lg) {
		font-size: 1.5em !important;
	}
}