h1,.heading-type-1,
h2,.heading-type-2,
h3,.heading-type-3,
h4,.heading-type-4,
h5,.heading-type-5,
h6,.heading-type-6 {
	line-height: 1.04166666em;
	margin: 1em 0;
	font-family: $skoda-next-extra-bold;
	color: $grey-heavy;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	display: inline-block;

	&:first-child {
		display: block;
	}
}

.heading-type-1 {
	letter-spacing: 0.1em;
	font-size: 1.76470588235em;
	@media (min-width: $screen-md) {
		font-size: 2.58823529412em;
	}
	@media (min-width: $screen-lg) {
		font-size: 2.82352941176em;
	}
}

.heading-type-2 {
	letter-spacing: 0.1em;
	font-size: 1.41176470588em;
	@media (min-width: $screen-md) {
		font-size: 2em;
	}
	span {
		font-size: 0.5416666666666666em;
		color: $grey-mid;
		padding-left: 0;
		display: block;
		@media (min-width: $screen-md) {
			padding-left: 10px;
			display: inline;
		}
	}
}

.heading-type-3 {
	font-size: 1.05882352941em;
	@media (min-width: $screen-md) {
		font-size: 1.41176470588em;
	}	
}

.heading-type-4 {
	font-size: 0.94117647058em;
	@media (min-width: $screen-md) {
		font-size: 1.05882352941em;
	}
}

.heading-type-5 {
	font-size: 0.82352941176em;
}

.heading-type-6 {
	font-size: 0.70588235294em;
}