.icon {
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 35px;
	height: 30px;	
	margin: 0 auto 2em;
	fill: black;

	&.icon--heart {
		background-image: url("/dist/img/icon-heart.svg");
	}	

	&.icon--signpost {
		background-image: url("/dist/img/icon-simple.svg");
	}	

	&.icon--warning-sign {
		background-image: url("/dist/img/icon-surprising.svg");
	}

	&.icon--test-drive {
		background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/testdrive.svg");
	}

	&.icon--brochure-request {
		background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/brochure.svg");
	}

	&.icon--live-tour {
		background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/eyecon.svg");
	}

	&.icon--find-a-retailer {
		background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/retailer.svg");
	}

	&.icon--car-configurator {
		background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/build.svg");
	}

	&.icon--finance-calculator {
		background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/finance.svg");
	}

	&.icon--book-a-service {
		background-image: url("http://www.skoda.co.uk/models/kodiaq/PublishingImages/service.svg");
	}	

}