.humanise-background-fixed {
	margin-bottom: $webpart-margin-bottom;
	
	&__background {
		background-repeat: no-repeat;
    background-position: center;
		@include background-size(cover);
		height: 60vh;
		background-attachment: fixed;
	}
}