.field-element {

	margin: 10px 0 40px;
	width: 100%;

	@media (min-width: $screen-md) {
		width: 600px;
	}

	label {
		display: block;
		text-transform: uppercase;
		font-family: $skoda-next-bold;
		margin-bottom: 10px;

		& .required:after  {
			content: '*';
			display: block;
		}
	}

	input, textarea, select {
		width: 100%;
		font-size: 1em;
		padding: 10px;
		font-family: $skoda-next-light;
		color: $grey-heavy;
		@include border_box;

		&:focus {
			border: 1px solid $ui-blue;
			outline:0;
		}

		// &.complete {
		// 	border: 1px solid $ui-green;
		// }

		// &.error {
		// 	border: 1px solid $ui-red;
		// }

		&:required:valid {
			border: 1px solid $ui-green;
		}

		&:focus:invalid {
			border: 1px solid $ui-red;
		}

	}

	textarea {
		height: 200px;
	}

	select {
		background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
		overflow: hidden;
		height: 44px;
		border-radius: 0px;
		-webkit-appearance: none;
		-webkit-border-radius: 0px;

		option:disabled {
			color: red;
		}
	}
}

