.dbsd-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  font-size: 0.7em;

  @media (min-width: $screen-md) {
    font-size: 1em;
  }

  td {
    border: 1px solid $grey-light;
    text-align: left;
    padding: 7px;
    font-family: $skoda-next-light;
    vertical-align: middle;

    @media (min-width: $screen-md) {
      padding: 15px;
    }
  }

  th {
    font-family: $skoda-next;
  }

  tr:first-child td {
    font-family: $skoda-next-bold;
  }

  td:first-child {
   width: 30%;
  }

  td:not(:first-child) {
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: $grey-feint;
  }
}


