{% include '_webparts/pattern-library/head/index.html' %}

{% include '_webparts/pattern-library/nav/index.html' %}
	
	<div class="pattern-library-header">
		<div class="nav-show-hide"></div>
		<div class="content_zone">
			<div class="pattern-library-header__title">
				<p>ŠKODA Webpart Library</p>
			</div>
			<div class="pattern-library-header__sub-title">
				<h1 class="heading-type-2">Atoms - Icons</h1>
			</div>
		</div>
	</div>

	<div class="content_zone">

		<div class="paragraphRowLocal">
			<div class="paragraphContent">
				{% include '_webparts/atoms/icons/index.html' %}
			</div>
		</div>

	</div>

{% include '_webparts/pattern-library/footer/index.html' %}