.humanise-sidebar-ctas {
	$cta-size: 50px;
	$icon-size: ($cta-size * 0.55);
	$link-size: 250px;

	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -($cta-size*3);
	z-index: 500;
	

	&__icons, &__links {
		position: fixed;

		li {
			list-style-type: none;
		}
	}

	&__icons {
		right: 0;
		z-index: 500;

		li {
			margin-left: 0 !important;
			line-height: 0px;

			.humanise-sidebar-ctas__icon {
				display: inline-block;
				width: $cta-size;
				height: $cta-size;
				background-color: black;
				background-size: $icon-size;
				background-repeat: no-repeat;
				background-position: center center;

				&.td {
					background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/testdrive.svg);
				}

				&.br {
					background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/brochure.svg);
				}

				&.lt {
					background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/eyecon.svg);
				}

				&.fr {
					background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/retailer.svg);
				}

				&.cc {
					background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/build.svg);
				}

				&.fc {
					background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/finance.svg);
					background-size: $icon-size * 0.8;
				}

				&.bs {
					background-image: url(http://www.skoda.co.uk/models/kodiaq/PublishingImages/service.svg);
					background-size: $icon-size * 0.9;
				}
			}
		}
	}

	&__links {
		width: $link-size;
		right: -$link-size;
		@include transition(0.8s ease-in-out);

		li {

			.humanise-sidebar-ctas__link {
				display: block;
				background: $skoda-black;
				color: $skoda-white;
				height: $cta-size;
				line-height: $cta-size;

				a {
					padding-left: 20px;
					vertical-align: middle;
					color: $skoda-white;
					font-family: $skoda-next;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 1.5px;
					font-size: 0.75em;

					&:hover {
						font-family: $skoda-next-bold;
						text-decoration: none;
					}
				}
			}
		}

		&.active {
			right: $cta-size;
		}
	}
}