.split-50-50 {
	margin-bottom: $webpart-margin-bottom;

	@media (min-width: $screen-md) {
		display: flex;
		justify-content: space-evenly;
	}

	&__col {
		width: 100%;

		@media (min-width: $screen-md) {
			width: 49%;
		}
	}

}