.humanise-model-listing {

	&__heading {
		span {
			font-size: 50%;
			color: $grey-mid;
		}
	}

	&__list-item {
		border-bottom: 1px solid $grey-light;
		display: block;
		overflow: hidden;
		padding-bottom: 0;
		margin-bottom: 1em;
		
		@media (min-width: $screen-md) {
			padding-bottom: 1.5em;
			margin-bottom: 1.5em;		
		}
	}
	
	&__info {
		display: block;
		overflow: hidden;
	}

	&__details {
		
		@media (min-width: $screen-md) {
			float: left;
			width: 50%;		
		}
	}
	
	&__image {
		margin-bottom: 1em;
		
		@media (min-width: $screen-md) {
			float: right;
			width: 50%;				
		}
	}

}