.humanise-secondary-hero {
	display: block;
	position: relative;
	max-height: 600px;
	margin-bottom: $webpart-margin-bottom;

	&__background {
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);
		height: 60vh;
	}

	& .content_zone {
		@include content-absolute;
	}
	
	&__title {
		@include content-center;
		width: 100%;

		@media (min-width: $screen-lg) {
			margin: 0 auto;
			width: 80%;
		}

		h1, h2, h3, h4, h5, h6, p {
			@include hero-heading;
		}

		&--tag {
			#{$text} {
				font-size: 1em;
				letter-spacing: 2px;
			}
		}
	}

	.cta-container {
		position: absolute;
		left: 50%;
		bottom: 2%;
		@include transform(-50%, -50%);
	}
}