.humanise-secondary-hero {
	display: block;
	position: relative;
	max-height: 560px;
	margin-bottom: $webpart-margin-bottom;

	&__background {
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);
		height: 560px;
	}

	& .content_zone {
		@include content-absolute;
	}
	
	&__title {
		@include content-center;
		width: 100%;

		@media (min-width: $screen-lg) {
			margin: 0 auto;
			width: 80%;
		}

		h1, h2, h3, h4, h5, h6, p {
			@include hero-heading-small;
		}

		&--tag {
			#{$text} {
				letter-spacing: 5px;
				font-size: 0.76470588235em;
				font-family: $skoda-next-bold;
				margin-bottom: 20px;
			}
		}

		& .cta-container {
			//position: absolute;
			//left: 50%;
			//@include transform(-50%, -50%);
			justify-content: center;
			margin-top: 60px;
		}
	}

	
}