.humanise-slider {
  .flickity-page-dots {
    .dot {
      margin: 0 8px !important;
    }
  }

  .flickity-prev-next-button  {    
    &.next {  
      &:after {
        background: url("/en-GB/SiteCollectionImages/Models/DBSD/UI/chevron-right.svg") center center no-repeat;
      }
    }
    
    &.previous {
      &:after {
        background: url("//en-GB/SiteCollectionImages/Models/DBSD/UI/chevron-left.svg") center center no-repeat;
      }
    }
  }
}