.flexi-grid {
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: 60px;
	
	.flexi-grid__list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		
		@media (min-width: $screen-md) {
			margin: 0 -20px;			
		}
		
		li {
			width: 100%;
			@include border-box;
			margin-bottom: 60px;
			padding-bottom: 40px;
			border-bottom: 1px solid $grey-light;
			
			@media (min-width: $screen-md) {
				width: 33.33%;
				float: left;
				padding: 0 20px;
				border-bottom: none;		
			}

			img {
				width: 87%;
				margin-bottom: 1.9em;
			}
			
			p {
				margin-bottom: 20px;
			}
		}
	}

	&__heading {
		margin-top: 0;
		align-self: flex-start;
		flex-grow: 1;

		p {
			font-family: $skoda-next-bold;
			@media (min-width: $screen-md) {
				min-height: 80px;
			}
		}
	}
	
	.cta-container {
		display: block;
		align-self: flex-end;
		
		a, a.cta-block:last-of-type {
			display: inline-block;
			margin: 0;
		}
	}
	
	.responsive-img {
		margin: 0 auto;
		margin-bottom: 1em;
	}

}